n8n.insitemarketing.digital {
        
    reverse_proxy n8n:5678
    
}

n8n-teste.insitemarketing.digital {
        
    reverse_proxy n8n-teste:5678
    
}

evolution.insitemarketing.digital {

    reverse_proxy evolution_api:8080

}

evolution-teste.insitemarketing.digital {

    reverse_proxy evolution_api-teste:8080

}

portainer.insitemarketing.digital {

    reverse_proxy portainer:9000

}

# # baserow.insitemarketing.digital {

# #         handle /api/* {
# #             reverse_proxy backend:8000
# #         }

# #         handle /ws/* {
# #             reverse_proxy backend:8000
# #         }

# #         handle /mcp/* {
# #             reverse_proxy backend:8000
# #         }

# #     reverse_proxy frontend:3000

# # }