n8n.insitemarketing.digital {
        
    reverse_proxy n8n:5678
}

evolution.insitemarketing.digital {

    redir / /manager 308
    
    reverse_proxy evolution_api:8080
}

# # baserow.insitemarketing.digital {

# #         handle /api/* {
# #             reverse_proxy backend:8000
# #         }

# #         handle /ws/* {
# #             reverse_proxy backend:8000
# #         }

# #         handle /mcp/* {
# #             reverse_proxy backend:8000
# #         }

# #     reverse_proxy frontend:3000

# # }